/*******************************************/ 
/* CUSTON CSS for TABULATOR SHEET          */ 
/*******************************************/ 

body{
    background-color: gray;
}

#sheet01 {
    height: calc(100vh - 20px) !Important;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
}