/*******************************************/
/* CSS for toolbars (main and secondaries) */
/*******************************************/

.form {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 8px;
    left: 8px;
    height: calc(100vh - 105px);
    right: 8px;
    overflow: hidden;
    background-color: rgba(200, 200, 200, 1);
}



.form-row-title {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    margin: 40px;
    height: 40px;
    margin-bottom: 0px;
}

.form-id {
    font: 35px arial, sans-serif;
}

.form-status {
    font: 35px arial, sans-serif;
    margin-left: auto;
}

.form-row-inputs {
    display: flex;
    flex-direction: row;
    overflow: hidden;  

    margin: 30px;
    margin-bottom: 0px;
    height: 60px;
}

.form-input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;    
    margin-left: 10px;
}

.form-input-header {
    flex-grow: 1;
    height: 30px;
    font: 16px arial, sans-serif;
    padding: 5px;

}

.form-input-value {
    flex-grow: 1;
    height: 30px;
    font: 16px arial, sans-serif;
    border: 0px;
    border-bottom: 2px solid grey;
    padding: 5px;
    background-color: rgba(220, 220, 220, 0.8);
}

.form-input-value:hover, .form-input-textarea-value:hover{
    border-bottom: 2px solid black;
}

.form-input-value:focus, .form-input-textarea-value:focus  {
    border-bottom: 2px solid rgba(255, 0, 0, 0.8);;
    background-color: rgba(255, 255, 255, 0.815);
}

.form-input-textarea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font: 16px arial, sans-serif;

}

.form-input-textarea-value {
    flex-grow: 1;
    width:100%;
    padding: 15px;
    font: 16px arial, sans-serif;
    background-color: rgba(220, 220, 220, 0.8);
    border: 0;
    resize: none;
    border-bottom: 2px solid grey;
}

.form-row-comments{
    display: flex;
    flex-direction: row;
    margin: 30px;
    margin-top: px;
    flex-grow: 1;
    overflow: hidden;
    resize: none;
    padding: 10px;
    z-index: 10;
}

.form-input-textarea-header {
    width:100%;
    padding: 5px;
    font: 16px arial, sans-serif;
    border: 0;
    resize: none;
    margin-bottom: 10px;
}