/*******************************************/
/* CSS for toolbars (main and secondaries) */
/*******************************************/

*:focus {
  outline: none;
}

#main-toolbar {
  position: fixed;
  bottom: 3px;
  right: 0px;
  left: 0px;
  height: 80px;
  z-index: 1000;
  background-color: rgba(200, 200, 200, 0.9);
  background-color: grey;
  border-top: 3px solid black;
  display: flex;
}

.secondary-toolbar {
  position: fixed;
  bottom: 95px;
  right: 8px;
  left: 8px;
  height: 80px;
  z-index: 1000;
  background-color: rgba(160, 160, 160, 0.9);
  display: none;
  overflow: hidden;
}

.toolbar-bttn {
  width: 80px;
  height: 80px;
  opacity: 0.7;
}

.toolbar-bttn:hover {
  opacity: 1;
  cursor: pointer;
  opacity: 1 !important;
}

.toolbar-bttn:hover>svg>ellipse {
  stroke: black;
  fill: rgba(255, 255, 255, 0.8);
  fill-opacity: 1;
}

.bttn-icon {
  width: 60px;
  height: 60px;
  margin: 10px 10px 10px 10px;
  
}

.bttn-icon:hover {
  opacity: 1;
}

.toolbar-delimeter {
  width: 2px;
  height: 60px;
  margin: 10px 10px 10px 10px;
  opacity: 0.7;
  background: black;
}

#mpaQrLogo { 
  display: flex;
  position: absolute;
  bottom: -8px;
  right: 0px;
  opacity: 0.9 !important;
  z-index: 1000;
}

img.bttn-icon {
  position: absolute;
}